@import './variables.scss';
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(148, 177, 217, 0.21);
    color: black;
}

.active {
    background-color: green;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    padding: 4%;
    font-weight: 400;
    background-color: #2457b3;
    background-image: url("./../img/mountains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .header__title {
        text-align: center;
        font-size: 3.5rem;
        color: rgba(255,255,255,0.9);
        line-height: 2em;
    }
    .header__subtitle {
        text-align: center;
        color: rgba(255,255,255,0.8);
        font-size: 1.75rem;
        line-height: 2em;
    }
}

.navigation {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    .navigation__menu {
        width: 46%;
        min-width: 350px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid #5f8fce;
        .navigation__menu__item {
            display: inline-block;
            height: 100%;
            .navigation__menu__link {
                padding: 15px 24px;
                color: rgba(255,255,255,1);
                text-decoration: none;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 45px;
                font-size: 1rem;
                font-family: "Roboto",sans-serif;
                &:hover {
                    cursor: pointer;
                }
                &:focus {
                    color: rgba(255,255,255,1);
                }
            }
        }
        .navigation__menu__item--active {
            border-bottom: 2px solid rgba(255,255,255,0.9);
        }
    }
}

.content {
    width: 100%;
    text-align: center;
}

.searchbar {
    width: 100%;
    background-color: #fafafa;
    box-shadow: 1px 1px 4px 0px rgba(158, 158, 158, 0.5);
    margin: 0 auto;
    position: relative;
    .searchbar__input {
        margin: 20px auto;
        width: 350px;
        height: 35px;
        font-size: 1.2rem;
        background-color: lighten(#f5f5f5,10%);
        padding: 0.2em 0.5em;
        border: 1px solid darken(#f5f5f5, 10%);
        color: #1a3795;
        &:focus {
            outline: none;
            border: 1px solid #ffbc00;
        }
    }
    .searchbar__list {
        width: $propositionListWidth;
        margin: -16px auto;
        position: absolute;
        left: 30%;
        background: #fafafa;
        z-index: 1;
        box-shadow: 0 0 4px 0 rgba(158, 158, 158, 0.5);
        .searchbar__list__item {
            font-size: 1rem;
            line-height: 2.2em;
            border-bottom: 1px solid #e6e6e6;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
}

.countryinfo {
    width: 100%;
    text-align: center;
    .countryinfo__container {
        width: 80%;
        margin: 30px auto;
        border: 2px solid black;
        &::after {
            display: block;
            content: '';
            clear: both;
        }
    }
}

.countryinfo__container__col1 {
    width: 30%;
    float: left;
    margin-left: 5%;
    padding: 5px;
}

.countryinfo__container__col2 {
    width: 65%;
    float: left;
    padding: 5px;
    &:before {
        content: '';
        clear: both;
        display: block;
    }
    &:after {
        content: '';
        clear: both;
        display: block;
    }
    .countryinfo__container__col2__col1 {
        width: 45%;
        float: left;
        padding: 5px;
    }
    .countryinfo__container__col2__col2 {
        width: 45%;
        float: left;
        padding: 5px;
    }

}
