@import './variables.scss';
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(148, 177, 217, 0.21);
    color: black;
}

a {
    background-image: linear-gradient(rgba(38, 198, 218, 0.6), rgba(38, 198, 218, 0.5));
    background-repeat: no-repeat;
    background-size: 0% 0%;
    background-position: 50% 50%;
    transition: background-size .3s, color .3s;
}

.active {
    background-color: green;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    padding: 4%;
    padding-bottom: 0;
    border-bottom: 1px solid #54c7da;
    font-weight: 400;
    background-color: #006064;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    .header__title {
        text-align: center;
        font-size: 3.5rem;
        color: rgba(255,255,255,0.9);
        line-height: 1.7em;
        letter-spacing: 0.03em;
    }
    .header__subtitle {
        text-align: center;
        color: rgba(255,255,255,0.7);
        font-size: 1.55rem;
        line-height: 1.5em;
        font-weight: 300;
        text-transform: lowercase;

    }
}

.navigation {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    .navigation__menu {
        width: 46%;
        min-width: 350px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        .navigation__menu__item {
            display: inline-block;
            height: 100%;
            .navigation__menu__link {
                padding: 15px 24px 16px 24px;
                color: rgba(255,255,255,1);
                text-decoration: none;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 45px;
                font-size: 1rem;
                font-family: "Roboto",sans-serif;
                &:hover {
                    cursor: pointer;
                }
                &:focus {
                    color: rgba(255,255,255,1);
                }
            }
        }
        .navigation__menu__item--active {
            border-bottom: 2px solid #26c6da;
            background-size: 100% 100%;
        }
    }
}

.searchbar {
    width: 100%;
    background-color: #428d90;
    border-bottom: rgba(158, 158, 158, 0.5);
    margin: 0 auto;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    .searchbar__input {
        margin: 30px auto;
        width: 350px;
        height: 2.2em;
        font-size: 1rem;
        background-color: #fafafa;
        padding: 0.2em 0.5em;
        border: none;
        color: #276063;
        &:focus {
            outline: none;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) inset;
        }
        // &::after {
        //     content: '&#x1F50D';
        // }
    }
    .searchbar__list {
        width: $propositionListWidth;
        margin: -30px auto;
        position: absolute;
        right: 0;
        left: 0;
        background: #fafafa;
        z-index: 1;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        .searchbar__list__item {
            font-size: 1rem;
            line-height: 2.2em;
            border-bottom: 1px solid #e6e6e6;
            font-weight: 400;
            letter-spacing: 1px;
            &:hover {
                cursor: pointer;
                background-color: #409aa7;
                color: rgba(255,255,255,0.9);
            }
        }
        .searchbar__list__item:last-child {
            border-bottom: none;
        }
    }
}
.activeKey {
    background-color: #409aa7;
    color: rgba(255,255,255,0.9);
}

.countryinfo {
    width: 100%;
    .countryinfo__container {
        width: 100%;
        margin: 0 auto;
        background-color: #fafafa;
        box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        &::after {
            display: block;
            content: '';
            clear: both;
        }
    }
    @media(min-width: 500px ) {
        .countryinfo__container {
            width: 80%;
            margin: 30px auto;
            padding: 10px 0 0 0;
        }
    }
}

.countryinfo__container__col1 {
    width: 100%;
    float: left;
    padding: 5px 5% 0 5%;
    .row {
        @extend %mixinRow;
        width: 100%;
    }
}
@media(min-width: 800px) {
    .countryinfo__container__col1 {
        width: 40%;
        padding: 5px 5% 5% 5%;
        .row {
            width: 95%;
        }
    }
}

.countryinfo__container__col2 {
    width: 100%;
    float: left;
    padding: 5%;
    padding-top: 0;
    .countryinfo__container__col2__col1 {
        width: 50%;
        float: left;
        padding: 5px 5% 10px 5%;
        .row {
            @extend %mixinRow;
            width: 100%;
        }
    }
    .countryinfo__container__col2__col2 {
        width: 50%;
        float: left;
        padding: 5px 5% 10px 5%;
        .row {
            @extend %mixinRow;
            width: 100%;
        }
    }
}
@media(min-width: 800px) {
    .countryinfo__container__col2 {
        width: 59%;
        padding: 5px 0 5% 0;
        border-left: 1px solid #eaeaea;
        &:before {
            content: '';
            clear: both;
            display: block;
        }
        &:after {
            content: '';
            clear: both;
            display: block;
        }
        .countryinfo__container__col2__col1 {
            width: 50%;
            float: left;
            padding: 5px 5% 10px 5%;
            .row {
                width: 95%;
            }
        }
        .countryinfo__container__col2__col2 {
            width: 50%;
            float: left;
            padding: 5px 5% 10px 5%;
            .row {
                width: 95%;
            }
        }
    }
}

// Statistic component

.content {
    width: 100%;
    text-align: center;
    .row {
        @extend %mixinRow;
        width: 100%;
        .chart {
            width: 800px;
            height: 590px;
            margin: 30px auto;
            background-color: #fafafa;
            box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            .chart__title {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 400;
                color: #696969;
                padding: 10px;
                padding-top: 30px;
                display: inline-block;
                border-bottom: 1px solid #428d90;
            }
        }
    }
}
