* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: black;
}
.active {
    background-color: green;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    padding: 4%;
    .header__title {
        text-align: center;
        font-size: 4rem;
        color: #1a3795;
        line-height: 1.2em;
    }
    .header__subtitle {
        text-align: center;
        color: #1a3795;
        font-size: 1.8rem;
        line-height: 1.8em;
    }
}

.navigation {
    width: 100%;
    height: 40px;
    background-color: #4a90e2;
    .navigation__menu {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        .navigation__menu__item {
            display: inline-block;
            font-size: 1.3rem;
            height: 100%;
            padding: 8px 20px;
            .navigation__menu__link {
                padding: 6px 10px;
                color: #fff;
                text-decoration: none;
                &:hover {
                    background-color: #3680e7;
                }
            }
        }
        .navigation__menu__item--active {
            background-color: #3680e7;
        }
    }
}

.content {
    width: 100%;
    text-align: center;
}

.searchbar {
    width: 100%;
    background-color: #ebebeb;
    margin: 0 auto;
    .searchbar__input {
        margin: 20px auto;
        width: 350px;
        height: 35px;
        font-size: 1.2rem;
        background-color: lighten(#f5f5f5,10%);
        padding: 0.2em 0.5em;
        border: 1px solid darken(#f5f5f5, 10%);
        color: #1a3795;
        &:focus {
            outline: none;
            border: 1px solid #ffbc00;
        }
    }
}

.countryinfo {
    width: 100%;
    text-align: center;
    .countryinfo__container {
        width: 80%;
        margin: 30px auto;
        border: 2px solid black;
        &::after {
            display: block;
            content: '';
            clear: both;
        }
    }
}

.countryinfo__container__col1 {
    width: 30%;
    float: left;
    margin-left: 5%;
    padding: 5px;
}

.countryinfo__container__col2 {
    width: 65%;
    float: left;
    padding: 5px;
    &:before {
        content: '';
        clear: both;
        display: block;
    }
    &:after {
        content: '';
        clear: both;
        display: block;
    }
    .countryinfo__container__col2__col1 {
        width: 45%;
        float: left;
        padding: 5px;
    }
    .countryinfo__container__col2__col2 {
        width: 45%;
        float: left;
        padding: 5px;
    }

}
